</body>
<footer class="text-center">
  <div id="copyRightMessage">
    <h6>© Copyright Bloggin 2023</h6>
  </div>
  <div>
    <a href="#">Back to top</a>
  </div>
  <div id="footerLinks">
    <a class="social-media-link-anchor" href="https://github.com/uditsathe/uditsathe.github.io"><img
        class="social-media-link" src="/images/github.png" alt="To Github"></a>
    <a class="social-media-link-anchor" href="mailto:uditsathe@gmail.com" target="_blank"><img class="social-media-link"
        src="/images/gmail.png"></a>
    <a class="social-media-link-anchor"
      href="https://in.linkedin.com/in/udit-sathe-b00154214?original_referer=https%3A%2F%2Fwww.google.com%2F"><img
        class="social-media-link" src="/images/linkedin.png" alt="To Linkedin"></a>
  </div>
</footer>

</html>