<%- include("partials/header"); %>
<body>
    <div class="container">
        <header class="border-bottom lh-1 py-3">
          <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
            </div>
            <div class="col-4 text-center">
                
             <!-- ENTER A CONDITION HERE THAT REDIRECTS TO PERSONAL PAGE WHEN LOGGED IN -->

              <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/home">Bloggin</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <a class="link-secondary" href="#" aria-label="Search">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
              </a>
            </div>
          </div>
        </header>
      
        <div class="nav-scroller py-1 mb-3 border-bottom"> 
          <nav class="nav nav-underline justify-content-between">
            <a class="nav-item nav-link link-body-emphasis active" href="#">World</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Science & Technology</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Books</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Culture & Psychology</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Business</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Politics</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Opinion</a>
            <a class="nav-item nav-link link-body-emphasis" href="#">Arbitrary</a>
        </div>
      </div>
<%-include("partials/footer");%>